.main-car {
  -webkit-animation: main-car 15s infinite;
  animation: 15s infinite main-car;
}
@keyframes main-car {
    0% {
      top: 450px;
      transform: rotate(0deg);
    }
    30% {
        top: 160px;
    }
    31% {
        top: 160px;
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-45deg);
    }
    41% {
        top: 160px;
        right: -115px;
    }
    60% {
        top: 100px;
        right: -20px;
        transform: rotate(-45deg);
    }
    61% {
        top: 100px;
        right: -20px;
        transform: rotate(-45deg);
    }
    75% {
        top: 100px;
        right: -20px;
        transform: rotate(0deg);
    }
    76% {
        top: 100px;
    }
    95% {
        top: 15px;
        right: -20px;
    }
    100% {
        top: 15px;
        right: -20px;
    }
}

@media (max-width: 777px) {
    .main-car {
  -webkit-animation: main-car 10s infinite;
  animation: 10s infinite main-car;
}
@keyframes main-car {
    0% {
      top: 450px;
        right: -36px;
      transform: rotate(0deg);
    }

    100% {
        top: 15px;
        right: -20px;
    }
}

}
